.featuredInfoComponent {
  display: flex;
  justify-content: space-between;
  .item {
    flex: 1;
    margin: 0px 20px;
    padding: 30px;
    border-radius: 10px;
    -webkit-box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75); 
    box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
    cursor: pointer;

    .title {
      font-size: 20px;
    }

    div {
      margin: 10px 0px;
      display: flex;
      align-items: center;
      gap: 20px;
      .money {
        font-size: 30px;
        font-weight: 600;
      }
      .moneyRate {
        display: flex;
        align-items: center;

        .icon {
          font-size: 14px;
          margin-left: 5px;
          color: green;
          &.negative {
            color: red;
          }
        }
      }
    }

    .sub {
      font-size: 15px;
      color: gray;
    }
  }
}